<nz-content>
    <section class="title">
        <div class="content">
            <div class="row mx-0">
                <div class="col-12">
                    <div class="title-text">
                        <h1>Service Single</h1>
                        <ol class="wpo-breadcumb-wrap">
                            <li>Home</li>
                            <li>Service</li>
                            <li>Service Single</li>
                        </ol>
                    </div>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <section class="service-detail">
        <div class="content">
            <div class="row mx-0">
                <div class="col-12 col-lg-8" *ngFor="let x of services">
                    <div class="service-image">
                        <img src="{{x.image}}" class="img-fluid" />
                    </div>
                    <div class="details">
                        <h1>{{x.title}}</h1>
                        <p>{{x.description}}</p>
                        <div *ngFor="let c of x.content">
                            <h2>{{c.subtitle}}</h2>
                            <p *ngFor="let d of c.description">{{d}}</p>
                        </div>
                    </div>
                    <div class="process-wrap">
                        <h1>Our work process</h1>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                 <div class="process-item">
                                     <div class="process-icon">
                                        <i class="fas fa-search"></i>
                                     </div>
                                     <div class="process-text">
                                         <h3>Research and analytics</h3>
                                         <p>If you are going to use a passage of Lorem Ipsum, you
                                            need to be sure there isn't.</p>
                                     </div>
                                 </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                 <div class="process-item">
                                     <div class="process-icon">
                                        <i class="fab fa-uncharted"></i>
                                     </div>
                                     <div class="process-text">
                                         <h3>Design and Idea</h3>
                                         <p>If you are going to use a passage of Lorem Ipsum, you
                                            need to be sure there isn't.</p>
                                     </div>
                                 </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                 <div class="process-item">
                                     <div class="process-icon">
                                        <i class="fas fa-paste"></i>
                                     </div>
                                     <div class="process-text">
                                         <h3>All Event Manage</h3>
                                         <p>If you are going to use a passage of Lorem Ipsum, you
                                            need to be sure there isn't.</p>
                                     </div>
                                 </div>
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar">
                        <div class="widget category-widget mt-0">
                            <h3>Services</h3>
                            <ul>
                                <li *ngFor="let x of serviceList" (click)="getServices(x.id)"><a>{{x.title}}</a></li>
                            </ul>
                        </div>
                        <div class="widget wpo-instagram-widget">
                            <h3>Instagram</h3>
                            <ul class="d-flex flex-wrap">
                                <li>
                                    <a href="*"><img src="../../assets/images/profile-image.jpg" alt=""
                                            class="img-fluid" /></a>
                                </li>
                                <li>
                                    <a href="*"><img src="../../assets/images/client.jpg" alt=""
                                            class="img-fluid" /></a>
                                </li>
                                <li>
                                    <a href="*"><img src="../../assets/images/dining.jpg" alt=""
                                            class="img-fluid" /></a>
                                </li>
                                <li>
                                    <a href="*"><img src="../../assets/images/photograph.jpg" alt=""
                                            class="img-fluid" /></a>
                                </li>
                                <li>
                                    <a href="*"><img src="../../assets/images/guest-list.jpg" alt=""
                                            class="img-fluid" /></a>
                                </li>
                                <li>
                                    <a href="*"><img src="../../assets/images/weddsing.jpg" alt=""
                                            class="img-fluid" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</nz-content>